includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  bootstrapFiles:
    - tools/phpunit.phar
  excludePaths:
      analyseAndScan:
        - tests/*/Fixtures/*
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    - "#^Method Jascha030\\\\Iterable\\\\Rewindable\\\\RewindableGenerator\\:\\:factory\\(\\) should return Generator but returns Generator\\|null\\.$#"
    - "#^Method Jascha030\\\\Iterable\\\\Rewindable\\\\RewindableGenerator\\:\\:getGenerator\\(\\) should return PhpOption\\\\Option\\<Generator\\|null\\> but returns PhpOption\\\\Some\\<Generator\\>\\.$#"
    - "#^Method Jascha030\\\\Iterable\\\\Rewindable\\\\RewindableGenerator\\:\\:getInner\\(\\) should return Generator but returns Generator\\|null\\.$#"

